<div class="navbar">
    <div class="container" style="padding: 0px 15px;">
        <div class="navbar-header">
            <div class="game-button mmeg small">
                <a href="/En/MMEG">
                    <div class="crop">
                        <img src="/Content/Images/MMEG.png" alt="MMEG" />
                    </div>
                </a>
            </div>
        </div>
        <form id="searchform" role="search" method="get" action="" class="navbar-form navbar-right searchform">
            <div class="input-group widget-search">
                <input type="text" class="form-control" placeholder="Search">
                <div class="input-group-btn">
                    <button class="btn btn-secondary" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </div>
        </form>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <li>
                    <a href="@Url.Action("Creatures", "MMEG", new { culture = this.ViewContext.RouteData.Values["culture"].ToString() })" hreflang="en" rel="alternate">Creatures</a>
                </li>
                <li>
                    <a href="@Url.Action("TierList", "MMEG", new { culture = this.ViewContext.RouteData.Values["culture"].ToString() })" hreflang="en" rel="alternate">Tier List</a>
                </li>
                <li>
                    <a href="@Url.Action("Achievements", "MMEG", new { culture = this.ViewContext.RouteData.Values["culture"].ToString() })" hreflang="en" rel="alternate">Achievements</a>
                </li>
                <li>
                    <a href="@Url.Action("Glyphs", "MMEG", new { culture = this.ViewContext.RouteData.Values["culture"].ToString() })" hreflang="en" rel="alternate">Glyphs</a>
                </li>
            </ul>
        </div>
    </div>
</div>