<link href="/Content/Css/pkm.css" rel="stylesheet">
<div class="navbar">
    <div class="container" style="padding: 0px 15px;">
        <div class="navbar-header">
            <div class="cstm-button pkm small">
                <a href="@Url.Action("Index", "PKM", new { culture = this.ViewContext.RouteData.Values["culture"].ToString() })">
                    <div class="crop">
                        <img src="/Content/Images/PKM.png" alt="PKM" />
                    </div>
                </a>
            </div>
        </div>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <li>
                    <a href="@Url.Action("AllPokemon", "PKM", new { culture = this.ViewContext.RouteData.Values["culture"].ToString() })">Pokemon</a>
                </li>
                <li>
                    <a href="@Url.Action("TypeChart", "PKM", new { culture = this.ViewContext.RouteData.Values["culture"].ToString() })">Type Chart</a>
                </li>
            </ul>
        </div>
    </div>
</div>