@{
    ViewBag.Title = "Home";
}
<div class="row">
    <div class="col-md-12 text-center">
        <h2>Choose a game</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="cstm-button mmeg">
            <a href="@Url.Action("Index", "MMEG", new { culture = this.ViewContext.RouteData.Values["culture"].ToString() })">
                <div class="crop">
                    <img src="/Content/Images/MMEG.png" alt="MMEG" />
                </div>
            </a>
        </div>
        <div class="text-center">
            <h3>Might & Magic<br/>Elemental<br/>Guardians</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="cstm-button feh">
            <a href="@Url.Action("Index", "FEH", new { culture = this.ViewContext.RouteData.Values["culture"].ToString() })">
                <div class="crop">
                    <img src="/Content/Images/FEH.png" alt="FEH" />
                </div>
            </a>
        </div>
        <div class="text-center">
            <h3>Fire Emblem<br />Heroes</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="cstm-button pkm">
            <a href="@Url.Action("Index", "PKM", new { culture = this.ViewContext.RouteData.Values["culture"].ToString() })">
                <div class="crop">
                    <img src="/Content/Images/PKM.png" alt="PKM" />
                </div>
            </a>
        </div>
        <div class="text-center">
            <h3>Pokemon</h3>
        </div>
    </div>
</div>
