<div class="navbar">
    <div class="container" style="padding: 0px 15px;">
        <div class="navbar-header">
            <div class="game-button zoulou small">
                <a href="/En/Home">
                    <div class="crop">
                        <img src="/Content/Images/Feather.svg" alt="MMEG" />
                    </div>
                </a>
            </div>
        </div>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                @Html.MenuItem("Support Us", "Support", "Support")
                @Html.MenuItem("Reviews", "Reviews", "Review")
                @Html.MenuItem("Updates", "Updates", "Update")
            </ul>
        </div>
    </div>
</div>