body {
    /*padding-top: 80px;*/
    padding-bottom: 20px;
    background-image: url('Images/Pattern.jpg');
    background-position: 0 0;
    background-repeat: repeat;
    color: #78879e;
    font-family: "Roboto",sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    color: #fff;
}

h1 {
    font-size: 38px;
    line-height: 42px;
}

h2 {
    font-size: 30px;
    line-height: 34px;
}

h3 {
    font-size: 25px;
    line-height: 29px;
}

h4 {
    font-size: 20px;
    line-height: 24px;
}

h5 {
    font-size: 16px;
    line-height: 20px;
}

h6 {
    font-size: 12px;
    line-height: 10px;
}

p {
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 10px;
}

a {
    color: #78879e;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: none
}

input[type="text"] {
    height: 36px;
    color: #78879e;
    background: #313d50;
    outline: 0 !important;
    box-shadow:none !important;
    border: none !important;
}

.navbar {
    background: #141c27 !important;
    border: none !important;
    border-bottom: 1px solid #273242 !important;
    margin-bottom: 40px;
}

.navbar-brand {
    position: relative;
    padding-left: 30px !important;
}

.logo {
    width: 32px;
    position: absolute;
    top: 7px;
    left: 1px;
}

.navbar-header > a {
    color: #FFFFFF !important;
    font-size: 21px !important;
    font-weight: 500 !important;
    cursor: pointer !important;
    line-height: 18px !important;
    text-decoration: none !important;
}

.navbar-nav > li > a {
    font-family: 'Roboto',sans-serif;
    color: #738298 !important;
    font-size: 17px !important;
    font-weight: 500 !important;
    cursor: pointer !important;
    line-height: 18px !important;
    text-decoration: none !important;
    -webkit-transition: all 1s ease 0s !important;
    -moz-transition: all 1s ease 0s !important;
    -o-transition: all 1s ease 0s !important;
}

.navbar-nav > li > a:hover {
    color: #FFFFFF !important;
    background: none;
}

.navbar-nav > li.current a {
    color: #FFFFFF !important;
}

.container, .container-fluid {
    /*background: #141c27 !important;*/
    padding: 15px;
}

.body-content {
    /*padding: 0px 15px 15px 15px;*/
    margin-top: -40px;
    background: #141c27;
}

.crop {
    position: relative;
    overflow: hidden;
}

.game-button {
    width: 100px;
    height: 100px;
    position: relative;
    background: #253343;
    border-radius: 8px;
    overflow: hidden;
    margin: auto;
    -moz-box-shadow: 0px -5px rgba(0,0,0,0.6) inset;
    -webkit-box-shadow: 0px -5px rgba(0,0,0,0.6) inset;
    -o-box-shadow: 0px -5px rgba(0,0,0,0.6) inset;
    box-shadow: 0px -5px rgba(0,0,0,0.6) inset;
    border: none;
}

    .game-button:hover {
        background: #4d4d4d;
    }

    .game-button:active {
        margin-top: 5px;
        height: 95px;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -o-box-shadow: none;
    }

    .game-button.small {
        margin-top: -15px;
        width: 60px;
        height: 60px;
        z-index: 2000;
    }

    .game-button.small:active {
        margin-top: -10px;
        height: 55px;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -o-box-shadow: none;
    }

    .game-button .crop {
        width: 100%;
        height: 95%;
        border-radius: 8px;
    }

    .game-button.zoulou img {
        width: 80%;
        position: absolute;
        left: 10%;
        top: 5%;
    }

    .game-button.pkm img {
        width: 125%;
        position: absolute;
        left: 1px;
        top: 1px;
        transform: rotate(-25deg);
    }

    .game-button.feh img {
        width: 100%;
        position: absolute;
        top: -13%;
    }

    .game-button.mmeg img {
        width: 100%;
        position: absolute;
        top: 5%;
    }

.searchform button {
    background: #404c61;
    color: #FFFFFF;
    border: 0;
    outline: none !important;
    font-size: 13px;
    line-height: 28px;
    height: 36px;
}

footer {
    background: #101722;
    border-top: 1px solid #313d50;
}

.copyright {
    background: #141c27 !important;
    color: #78879e;
    text-align: center;
}

.boxed {
    width: 100%;
    text-align: center;
    -o-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    overflow: hidden;
    color: #fff;
}

    .boxed tr:nth-child(even) {
        background: rgba(37, 51, 67, 0.1);
    }

    .boxed tr:nth-child(odd) {
        background: rgba(37, 51, 67, 0.3);
    }

    .boxed th {
        text-align: center;
        font-weight: normal;
        text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
        background: rgba(37, 51, 67, 0.3);
    }

    .boxed td {
        color: #fff;
        text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
        width: 85px;
    }

.boxed-blue {
    background: rgba(0, 0, 255, 0.1);
}

th.boxed-blue {
    background: rgba(0, 0, 255, 0.3);
}

.boxed-green {
    background: rgba(0, 255, 0, 0.1);
}

th.boxed-green {
    background: rgba(0, 255, 0, 0.3);
}

.boxed-yellow {
    background: rgba(255, 255, 0, 0.1);
}

th.boxed-yellow {
    background: rgba(255, 255, 0, 0.3);
}

.boxed-purple {
    background: rgba(255, 0, 255, 0.1);
}

th.boxed-purple {
    background: rgba(255, 0, 255, 0.3);
}


.mmeg-portrait {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #EAAB05;
}

    .mmeg-portrait.fire {
        background: rgba(117,37,0,1);
        background: -moz-linear-gradient(left, rgba(117,37,0,1) 0%, rgba(81,32,6,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(117,37,0,1)), color-stop(100%, rgba(81,32,6,1)));
        background: -webkit-linear-gradient(left, rgba(117,37,0,1) 0%, rgba(81,32,6,1) 100%);
        background: -o-linear-gradient(left, rgba(117,37,0,1) 0%, rgba(81,32,6,1) 100%);
        background: -ms-linear-gradient(left, rgba(117,37,0,1) 0%, rgba(81,32,6,1) 100%);
        background: linear-gradient(to right, rgba(117,37,0,1) 0%, rgba(81,32,6,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#752500', endColorstr='#512006', GradientType=1 );
        box-shadow: 0 0 0 3px #512006;
    }

    .mmeg-portrait.water {
        background: rgba(38,91,126,1);
        background: -moz-linear-gradient(left, rgba(38,91,126,1) 0%, rgba(22,54,76,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(38,91,126,1)), color-stop(100%, rgba(22,54,76,1)));
        background: -webkit-linear-gradient(left, rgba(38,91,126,1) 0%, rgba(22,54,76,1) 100%);
        background: -o-linear-gradient(left, rgba(38,91,126,1) 0%, rgba(22,54,76,1) 100%);
        background: -ms-linear-gradient(left, rgba(38,91,126,1) 0%, rgba(22,54,76,1) 100%);
        background: linear-gradient(to right, rgba(38,91,126,1) 0%, rgba(22,54,76,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#265b7e', endColorstr='#16364c', GradientType=1 );
        box-shadow: 0 0 0 3px #16364c;
    }

    .mmeg-portrait.air {
        background: rgba(143,160,161,1);
        background: -moz-linear-gradient(left, rgba(143,160,161,1) 0%, rgba(68,75,81,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(143,160,161,1)), color-stop(100%, rgba(68,75,81,1)));
        background: -webkit-linear-gradient(left, rgba(143,160,161,1) 0%, rgba(68,75,81,1) 100%);
        background: -o-linear-gradient(left, rgba(143,160,161,1) 0%, rgba(68,75,81,1) 100%);
        background: -ms-linear-gradient(left, rgba(143,160,161,1) 0%, rgba(68,75,81,1) 100%);
        background: linear-gradient(to right, rgba(143,160,161,1) 0%, rgba(68,75,81,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fa0a1', endColorstr='#444b51', GradientType=1 );
        box-shadow: 0 0 0 3px #444b51;
    }

    .mmeg-portrait.earth {
        background: rgba(52,116,30,1);
        background: -moz-linear-gradient(left, rgba(52,116,30,1) 0%, rgba(39,81,25,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(52,116,30,1)), color-stop(100%, rgba(39,81,25,1)));
        background: -webkit-linear-gradient(left, rgba(52,116,30,1) 0%, rgba(39,81,25,1) 100%);
        background: -o-linear-gradient(left, rgba(52,116,30,1) 0%, rgba(39,81,25,1) 100%);
        background: -ms-linear-gradient(left, rgba(52,116,30,1) 0%, rgba(39,81,25,1) 100%);
        background: linear-gradient(to right, rgba(52,116,30,1) 0%, rgba(39,81,25,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34741e', endColorstr='#275119', GradientType=1 );
        box-shadow: 0 0 0 3px #275119;
    }

.mmeg-role {
    position: absolute;
    right: -2px;
    bottom: -2px;
    height: 22px;
    width: 22px;
    border-radius: 8px;
    border: 1px solid #EAAB05;
    vertical-align: middle;
}

    .mmeg-role.fire {
        background: #512006;
    }

    .mmeg-role.water {
        background: #16364c;
    }

    .mmeg-role.air {
        background: #444b51;
    }

    .mmeg-role.earth {
        background: #275119;
    }

    .mmeg-role .ra {
        vertical-align: middle;
        text-shadow: none;
    }

.mmeg-filter-row {
    margin-bottom: 15px;
    text-align: center;
}

.mmeg-filter-button {
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: inline-block;
    border: none;
    border-radius: 8px;
    padding: 5px;
    cursor: pointer;
    background: #253343;
    color: #3a485c;
    -moz-box-shadow: 0px -5px rgba(0,0,0,0.6) inset;
    -webkit-box-shadow: 0px -5px rgba(0,0,0,0.6) inset;
    -o-box-shadow: 0px -5px rgba(0,0,0,0.6) inset;
    box-shadow: 0px -5px rgba(0,0,0,0.6) inset;
    vertical-align: bottom;
    text-align: center;
}

    .mmeg-filter-button > a {
        text-decoration: none;
        border: none;
        color: inherit;
    }

    .mmeg-filter-button:hover {
        background: #4a76a8;
        color: #ffffff;
    }

    .mmeg-filter-button:active {
        margin-top: 5px;
        height: 45px;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -o-box-shadow: none;
    }

    .mmeg-filter-button.active {
        background: #4a76a8;
        color: #ffffff;
        margin-top: 5px;
        height: 45px;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -o-box-shadow: none;
    }

.mmeg-container {
}

.mmeg-section {
    margin-bottom: 15px;
}

.mmeg-subsection {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px 8px;
    font-size: 15px;
}

.mmeg-title {
    background: #4a76a8;
    padding: 5px 8px;
    font-size: 15px;
}

    .mmeg-title span {
        color: #ffffff;
    }

.mmeg-subtitle {
    background: #253343;
    padding: 5px 8px;
    font-size: 15px;
    margin-bottom: 15px;
}

    .mmeg-subtitle span {
        color: #ffffff;
    }